doctype html
html
	head
		title Skylar's Projects
	body
		h1 Skylar's Projects
		.main
			.project
				a(href="/mailapp")
					h3.title GmailApp
				p.description Displays Emails As Cards Using the Gmail Api. *For security, public access is denied*
			.project
				a(href="/forum")
					h3.title SimpleForum
				p.description A simple forum made with Express
			.project
				a(href="/index2.html")
					h3.title Doctor Who animation
				p.description An user controled simulation in which the TARDIS flies past Doctor Who quotes
			.project
				h3.title
					p Image Editor
			.project
				h3.title
					p Audio Visualizer
					
			