html(lang='en')
	head
		title Welcome
	body
	p Welcome! This device isn't registered. Please Enter your name.
	form(action='/forum/user', method='post')
		label(for="user") Username
		input(type='text', name='user')
		label(for="password") Password
		input(type='text', name='password')
		button(type='submit') Submit